<%- include('../partials/head') %>

<body>
<%- include('../partials/navbar') %>

<h1>LOGIN</h1>

    <form action="" method="POST">

        Username <br>
        <input type="text" name="username"> <br>

        Password <br>
        <input type="password" name="password"> <br><br>

        <button>LOGIN</button>

    </form>
    <a href="/forgotPassword">Forgot Password?</a>

  <%  if (errors) { %>
        
        <div><%= errors %></div>
   <% } %>
</body>
</html>